### Dictionary

   1. Dictionaries are __Mutable__
   2. Dictionaries are __Dynamic__
   3. __Indexing__ and __Slicing__ are not applicable
   4. __Dublicate__ Key are not allow But __Value__ can be dublicate
   5. Hetrogeneous objects are allowed for both key and values
   6. Inserttion order is not preserved

### Creation of Dictionary

In [3]:
d = {}
print(type(d))
d

<class 'dict'>

{}

In [4]:
d = dict()
print(type(d))
d

<class 'dict'>

{}

In [5]:
d = {1:'jayshankar' , 2:'Bhagalpur' , 3 : '0177CS151061'}
print(type(d))
print(d)

<class 'dict'>
{1: 'jayshankar', 2: 'Bhagalpur', 3: '0177CS151061'}

### Traversing of dictionary  or Accessing data from dictionary

In [9]:
d = {1:'jayshankar', 2:'Bhagalpur', 3 :'0177CS151061'}
print(d[1])
print(d[2])
print(d[3])

jayshankar
Bhagalpur
0177CS151061

In [7]:
d = {1:'jayshankar', 2:'Bhagalpur', 3 :'0177CS151061'}

for i in range(1,len(d)+1):
    print(d[i])

jayshankar
Bhagalpur
0177CS151061

In [2]:
# traversing through values function
# it will return value of dictionary

d = {1:'jay',2:'shankar',3:'Leshraj',4:'tulsi'}

for i in d.values():
    print(i)

jay
shankar
Leshraj
tulsi

In [5]:
# traversing through items() function
# it will return key and value both

d = {1:'jay',2:'mohan',3:'rakesh',4:'lokesh',5:'abhishek'}

for i,j in d.items():
    print(i,j)

1 jay
2 mohan
3 rakesh
4 lokesh
5 abhishek

In [30]:
d = {1:'jay',2:'mohan',3:'rakesh',4:'lokesh',5:'abhishek'}

d.get(2)

'jay'

In [32]:
d = {1:'jay',2:'mohan',3:'rakesh',4:'lokesh',5:'abhishek'}
d.get(6,'Not avaliable')

'Not avaliable'

## Update Dictionary

 1. d[key] = value
 
     a. if the key is not avaliable then the new entry will be added to the dictionary with the specified key-value pair
       
     b. if the key is already avaliable the old value will be replaced with new value

In [12]:
d = {1:'jay',2:'mohan',3:'rakesh',4:'lokesh',5:'abhishek'}

d[6] = 'Mahesh'
d

{1: 'jay', 2: 'mohan', 3: 'rakesh', 4: 'lokesh', 5: 'abhishek', 6: 'Mahesh'}

In [13]:
d = {1:'jay',2:'mohan',3:'rakesh',4:'lokesh',5:'abhishek'}

d[2] = 'mahesh'

d

{1: 'jay', 2: 'mahesh', 3: 'rakesh', 4: 'lokesh', 5: 'abhishek'}

## Delete Elements from Dictionary

 1. del d[key]:-
 
     - it deletes entry associated with the specified key.
     - it the key is not avaliable then it will get error
     
 
 2. d.clear() :
 
     - It remove all entries from the dictionary
     

 3. d.pop(key) :
 
     - it removes the entry assotiated with the specified key and return the corresponding value
     - if the specific key is not avaliable then we will get keyError
     
 
 4. d.popitem()
 
     - It removes an last item ( key-value ) from the dictionary and return it.

In [9]:
# deleting element manualy from dictionary

d = {1:'Rahul',2:'Adarah',3:'sumit',4:'pravin',5:'Yashaswi'}

del d[1]

d

{2: 'Adarah', 3: 'sumit', 4: 'pravin', 5: 'Yashaswi'}

In [8]:
# deleating all elements of dictionary

d = {1:'Rahul',2:'Adarah',3:'sumit',4:'pravin',5:'Yashaswi'}

d.clear()

d

{}

In [15]:
d = {1:'Rahul',2:'Adarah',3:'sumit',4:'pravin',5:'Yashaswi'}

d.pop(1)

d

{2: 'Adarah', 3: 'sumit', 4: 'pravin', 5: 'Yashaswi'}

In [20]:
d = {1:'Rahul',2:'Adarah',3:'sumit',4:'pravin',5:'Yashaswi'}

d.popitem()

d

{1: 'Rahul', 2: 'Adarah', 3: 'sumit', 4: 'pravin'}

## important function of Dictionary

 1. dict():
   - to create a dict.
 
 
 2. len():
   - Return the number of items in the dictionary
     
 
 3. clear():
   - To remove all elements from a dictionary
     
 
 4. get():
   - to get the value associated with the key
     - d.get(key):
       - if the key is avaliable then result the corresponding value otherwise return none , it won't raise any error
      - d.get(key,defaultvalue):
        - if the key is avaliable then returns the correponding value otherwise return defaultvalue
            
 
 5. pop():
   - d.pop(key)
         - it removes the entry associated with the specified key and return the corresponding
         - if the specified key is not present then we will get keyError
         
 
 6. popitem():
   - it removes an last item ( key-value ) from the dictionary and returns it.
     
 
 7. keys():
   - it returns all keys associated with dictionary
     
 
 8. values():
   - it returns all values associated with the dictionary
     
 
 9. items():
   - it returns list of tuples representing key-value pairs.
     
 
 10. setdefault():
    - d.setdefault(k,v)
      - if the key is already avaliable then this function returns the corresponding value
       - if the key is not avaliable then the specified key-value will be added as new item to the dictionary
         
 
 11. copy():
    - To create exactly dublicate dictionary (cloned copy)
     
 
 12. update():
    - d.update(x)
      - all items present in the dictionary , x will be added to dictionary d

In [39]:
# dict()

name = [(1,'jay'),(2,'sumit'),(3,'pravin'),(4,'yashaswi')]

d = dict(name)

d

{1: 'jay', 2: 'sumit', 3: 'pravin', 4: 'yashaswi'}

In [40]:
# len()

d = {1:'Rahul',2:'Adarah',3:'sumit',4:'pravin',5:'Yashaswi'}

len(d)

5

In [57]:
# clear()

d = {1:'Rahul',2:'Adarah',3:'sumit',4:'pravin',5:'Yashaswi'}

d.clear()
print(d)

{}

In [48]:
# get()

d = {1:'Rahul',2:'Adarah',3:'sumit',4:'pravin',5:'Yashaswi'}

print(d.get(2))       
print(d.get(6,'not avaliavble'))

Adarah
not avaliavble

In [50]:
# pop()     

d = {1:'Rahul',2:'Adarah',3:'sumit',4:'pravin',5:'Yashaswi'}

d.pop(1)

'Rahul'

In [53]:
# popitem()

d = {1:'Rahul',2:'Adarah',3:'sumit',4:'pravin',5:'Yashaswi'}

print(d.popitem())
print(d)

(5, 'Yashaswi')
{1: 'Rahul', 2: 'Adarah', 3: 'sumit', 4: 'pravin'}

In [60]:
# keys()

d = {1:'Rahul',2:'Adarah',3:'sumit',4:'pravin',5:'Yashaswi'}

print(d.keys())

for i in d.keys():
    print(i)

dict_keys([1, 2, 3, 4, 5])
1
2
3
4
5

In [62]:
# values()

d = {1:'Rahul',2:'Adarah',3:'sumit',4:'pravin',5:'Yashaswi'}

print(d.values())

for i in d.values():
    print(i)

dict_values(['Rahul', 'Adarah', 'sumit', 'pravin', 'Yashaswi'])
Rahul
Adarah
sumit
pravin
Yashaswi

In [68]:
# items()

d = {1:'Rahul',2:'Adarah',3:'sumit',4:'pravin',5:'Yashaswi'}

print(d.items())

for i,j in d.items():
    print(i,": "+j)

dict_items([(1, 'Rahul'), (2, 'Adarah'), (3, 'sumit'), (4, 'pravin'), (5, 'Yashaswi')])
1 : Rahul
2 : Adarah
3 : sumit
4 : pravin
5 : Yashaswi

In [76]:
# setdefault()

d = {1:'Rahul',2:'Adarah',3:'sumit',4:'pravin',5:'Yashaswi'}

print(d.setdefault(6,'sourabh'))
print(d)

sourabh
{1: 'Rahul', 2: 'Adarah', 3: 'sumit', 4: 'pravin', 5: 'Yashaswi', 6: 'sourabh'}

In [77]:
# setdefault()

d = {1:'Rahul',2:'Adarah',3:'sumit',4:'pravin',5:'Yashaswi'}

print(d.setdefault(1,'jay'))
print(d)

Rahul
{1: 'Rahul', 2: 'Adarah', 3: 'sumit', 4: 'pravin', 5: 'Yashaswi'}

In [70]:
# copy()

d = {1:'Rahul',2:'Adarah',3:'sumit',4:'pravin',5:'Yashaswi'}

d1 = d.copy()

d1

{1: 'Rahul', 2: 'Adarah', 3: 'sumit', 4: 'pravin', 5: 'Yashaswi'}

In [82]:
# update()

d = {1:'Rahul',2:'Adarah',3:'sumit',4:'pravin',5:'Yashaswi'}

x = {6:'sonu',7:'sourabh'}

print(d.update(x))
print(d)

None
{1: 'Rahul', 2: 'Adarah', 3: 'sumit', 4: 'pravin', 5: 'Yashaswi', 6: 'sonu', 7: 'sourabh'}

## dictionary Comprehension :

In [44]:
squares = {x : x*x for x in range(2,5)}
squares

{2: 4, 3: 9, 4: 16}

In [5]:
 
cubes = {x : x**3 for x in range(1,6)}

cubes

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

## dictionat to list and tuple :-

In [85]:
# convert dictionary to list

d = {100:'durga',101:'ravi',102:'pavan'}

print(list(d))

[100, 101, 102]

In [86]:
print(list(d.values()))

['durga', 'ravi', 'pavan']

In [87]:
print(list(d.items()))

[(100, 'durga'), (101, 'ravi'), (102, 'pavan')]

In [90]:
print(list(d.keys()))

[100, 101, 102]

In [91]:
# convert dictionary to tuple

d = {1:'rithik',2:'tiger',3:'akshay',4:'ajay',5:'mahesh babu'}

print(tuple(d))

(1, 2, 3, 4, 5)

In [92]:
print(tuple(d.items()))

((1, 'rithik'), (2, 'tiger'), (3, 'akshay'), (4, 'ajay'), (5, 'mahesh babu'))

In [93]:
print(tuple(d.values()))

('rithik', 'tiger', 'akshay', 'ajay', 'mahesh babu')

In [94]:
print(tuple(d.keys()))

(1, 2, 3, 4, 5)

In [95]:
# convert dictionary to set

d = {1:'alia bhat',2:'mahak thakur',3:'kriti sanon',4:'kriti kharbanda'}

print(set(d))

{1, 2, 3, 4}

In [2]:
d = {1:'alia bhat',2:'mahak thakur',3:'kriti sanon',4:'kriti kharbanda'}

print(tuple(d.items()))

((1, 'alia bhat'), (2, 'mahak thakur'), (3, 'kriti sanon'), (4, 'kriti kharbanda'))

In [3]:
d = {1:'alia bhat',2:'mahak thakur',3:'kriti sanon',4:'kriti kharbanda'}

print(tuple(d.values()))

('alia bhat', 'mahak thakur', 'kriti sanon', 'kriti kharbanda')

In [4]:
print(tuple(d.keys()))

(1, 2, 3, 4)