## List :-

   - if we want to represent a group of individual objects as a single entity where insertion order preserved and dublicates are allowed then we should go for List
   - Insertion order preserved 
   - Dublicate object are allowed 
   - heterogeneous object are allowed 
   - List is Dynamic because based on our requirement we can increase the size and decrease the size
   - In list the elements will placed within square brackets and comma seperated 
   - we can differentiate dublicate elements by using index and we can preserve insertion order by using index . hence index will play important role
   - python support both +ve and -ve indexs . +ve index means from left to right and -ve index means right to left
   - List objects are mutable i.e. we can change the content

### creation of List

In [3]:
# empty list
l = []
print(type(l))
print(l)

<class 'list'>
[]

In [4]:
# non-empty list
l1 = [1,4,6,8,3]
print(type(l1))
print(l1)

<class 'list'>
[1, 4, 6, 8, 3]

In [6]:
# with dynamic input
l2 = eval(input('Enter list :- '))
print(l2)
print(type(l2))

Enter list :- [1,2,3,4,5,6,7]
[1, 2, 3, 4, 5, 6, 7]
<class 'list'>

In [3]:
# with list function

l3 = list(range(0,10,2))
print(type(l3))
print(l3)

<class 'list'>
[0, 2, 4, 6, 8]

In [4]:
# with split function

s = 'Learning python is very very easy !'

l = s.split()
print(type(l))
print(l)

<class 'list'>
['Learning', 'python', 'is', 'very', 'very', 'easy', '!']

In [5]:
# list inside list 

l = [1,2,3,[4,5,3,5,2],[1,10,3]]
print(l)
print(type(l))

[1, 2, 3, [4, 5, 3, 5, 2], [1, 10, 3]]
<class 'list'>

### Accessing elements of list :
   - by using index
   - by using slice

### by using index

In [6]:
l = [1,4,3,4,6,2,9,10]
l[1]

4

In [7]:
l[5]

2

In [8]:
l[-1]

10

In [9]:
l[-6]

3

### by using slice

In [10]:
l1 = [1,4,2,5,6,3,7,4,8,7]
l1[:]

[1, 4, 2, 5, 6, 3, 7, 4, 8, 7]

In [11]:
l1[3:]

[5, 6, 3, 7, 4, 8, 7]

In [12]:
l1[:5]

[1, 4, 2, 5, 6]

In [13]:
l1[2:9]

[2, 5, 6, 3, 7, 4, 8]

In [14]:
l1[::-1]

[7, 8, 4, 7, 3, 6, 5, 2, 4, 1]

In [15]:
l1[-7:-2:]

[5, 6, 3, 7, 4]

In [16]:
l1[-7:-2:-1]

[]

In [17]:
l1[-2:-7]

[]

### Traversing the elements of list :-
   - by using for loop
   - by using while loop

### by for loop

In [18]:
l2 = [1,4,3,6,5,9,7]

for i in l2:
    print(i)

1
4
3
6
5
9
7

In [19]:
l3 = [2,5,3,6,7,1,9,7,8]

for i in range(0,len(l3)):
    print(l3[i])

2
5
3
6
7
1
9
7
8

### by while loop

In [20]:
l = [1,9,2,8,3,7,4,6,5]
i = 0
while i < len(l):
    print(l[i])
    i += 1

1
9
2
8
3
7
4
6
5

### adding elements to list :
   1. append()
   2. insert()
   3. extend()

In [22]:
# append() - Add one element to the list at last 

l1 = [10,20,30,40]
l1.append(50)
l1

[10, 20, 30, 40, 50]

In [26]:
# insert(index,value) --  insert value at particular index 
 
l2 = ['jay','sumit','pravin','yashaswi']
l2.insert(2,'Durgesh')
l2

['jay', 'sumit', 'Durgesh', 'pravin', 'yashaswi']

In [57]:
# extend() :- to add all items of one list to another list

order1 = [10,20,30,40]
order2 = ['jay','sumit','yash','durgesh']

order1.extend(order2)

print(order1)

[10, 20, 30, 40, 'jay', 'sumit', 'yash', 'durgesh']

### Deleting elements of list :
   - remove()
   - pop()

In [61]:
# remove()

l1 = [10,20,30,40]

l1.remove(10)

print(l1)

[20, 30, 40]

In [63]:
# pop()

l1 = [10,20,30,40]

l1.pop()
l1

[10, 20, 30]

In [67]:
l1 = [10,20,30,40]

l1.pop(3)      # given index no. to the pop  but value not allow 
l1

[10, 20, 30]

### important function of list :
   1. len()
   2. count()
   3. index()
   4. append()
   5. insert()
   6. extend()
   7. remove()
   8. pop()
   9. reverse()
   10. sort()
   11. sorted()
   12. clear()

In [68]:
# len()

l = [1,2,3,4,5,10,20,30,40,50]

print(len(l))

10

In [69]:
# count()

n = [10,20,30,10,40,10]
n.count(10)

3

In [73]:
# index 

n = [1,3,5,6,8]

print(n.index(1))
print(n.index(3))
print(n.index(8))

0
1
4

In [74]:
# append()

list = []

list.append("a")
list.append('b')
list

['a', 'b']

In [76]:
# insert()

n = [1,2,3,4,5]
print(n)
n.insert(1,8888)
print(n)

[1, 2, 3, 4, 5]
[1, 8888, 2, 3, 4, 5]

In [77]:
# extend()

l1 = [10,20,30,40]
l2 = [1,2,3,4,5,6]

l1.extend(l2)

l1

[10, 20, 30, 40, 1, 2, 3, 4, 5, 6]

In [78]:
# remove()

n = [10,20,10,30,40]
n.remove(10)
n

[20, 10, 30, 40]

In [81]:
# pop()

n = [10,20,30,40]

print(n.pop())
print(n.pop(1))

print(n)

40
20
[10, 30]

In [82]:
# reverse()

n = [10,20,30,40]

n.reverse()
n

[40, 30, 20, 10]

In [86]:
# sort

n = [20,5,15,10,0]

n.sort(reverse = True)

n

[20, 15, 10, 5, 0]

In [85]:
# sort

s = ['Dog','Bananna','Cat','Apple']

s.sort()

print(s)

['Apple', 'Bananna', 'Cat', 'Dog']

In [98]:
# sorted()

l = [[3,2],[4,1],[6,5]]

sorted(l , key = lambda x : x[1] , reverse = True)

[[6, 5], [3, 2], [4, 1]]

In [99]:
# clear()

n = [1,2,3,4,5]
n.clear()
print(n)

[]

### Using Mathematical Operator for the list :
   - concatenation operator ( + )
   - Repetition Operator ( * )
   - comparing list object  ( == and != )
   - membership operator ( in and not in )

In [28]:
# + concatination
l1 = [10,20,30]
l2 = [1,2,3]
l = l1 + l2
print(l)

[10, 20, 30, 1, 2, 3]

In [31]:
# * repeation

l1 = [50,60,70]
l2 = l1*3
print(l2)

[50, 60, 70, 50, 60, 70, 50, 60, 70]

In [36]:
# comparision list object 

x = [ 'Dog','Cat','Rat']
y = ['Dog','Cat','Rat']

print(x==y)

True

In [37]:
x = ['dog','cat','rat']
y = ['Dog','Cat','Rat']

print(x==y)
print(x!=y)

False
True

In [40]:
x = [50,20,30]
y = [40,50,60,100,200]

print(x>y)
print((x>=y))

print(x<y)
print(x<=y)

True
True
False
False

In [41]:
# MemberShip operator

n = [10,20,30,40]

print(10 in n)
print(10 not in n)
print(50 in n)
print(50 not in n)

True
False
False
True

### Nested list

In [43]:
# nested list

n = [10,20,30,[3,5,6,7,8],[5,9,3,5,2]]

n[0]

10

In [47]:
print(n[3])
print(n[4])

[3, 5, 6, 7, 8]
[5, 9, 3, 5, 2]

In [50]:
print(n[3][4])
print(n[4][0])

8
5

### Nested list as Matrix

In [51]:
n = [[10,20,30],[40,50,60],[70,80,90]]

print(n)

[[10, 20, 30], [40, 50, 60], [70, 80, 90]]

In [52]:
for i in range(len(n)):
    print(n[i])

[10, 20, 30]
[40, 50, 60]
[70, 80, 90]

In [53]:
for r in n :
    print(r)

[10, 20, 30]
[40, 50, 60]
[70, 80, 90]

In [56]:
for i in range(len(n)):
    for j in range(len(n[i])):
        print(n[i][j],end=' ')

10 20 30 40 50 60 70 80 90

### List Comprehension

In [35]:
l = [ x*5 for x in range(1,6,2)]
l

[5, 15, 25]