## Set :

   1. if we want to represent a group of unique values as a single entity then we should go for set
   2. Dublicates are not allowed.
   3. Insertion order is not preserved But we can sort the elements.
   4. Indexing and slicing are not allowed for the set.
   5. Heterogeneous elements are allowed .
   6. set objects are __mutable__. that means once we creates set object we can perform any changes in that object based on our requirements.
   7. we can represent set elements within curly braces and with comma seperated 
   8. we can apply mathematical operations like union, intersection , differences etc on set object

## Creation of set

In [5]:
s = set()
print(type(s))
print(s)

<class 'set'>
set()

In [6]:
s = {1,2,3,4,5}
print(type(s))
print(s)

<class 'set'>
{1, 2, 3, 4, 5}

In [6]:
# duplication are not allow in set
s = {1,2,4,5,1}
print(type(s))
print(s)

<class 'set'>
{1, 2, 4, 5}

In [8]:
# Hetrogeneous elements are allow
s = {1,'jay',25.21}
print(type(s))
print(s)

<class 'set'>
{1, 'jay', 25.21}

### note : 
   __we can't access the elements of set b/c indexing and slicing are not allow in set__

## important function of set :

   1. s.add(x):
       - add item x to the set
       
   
   2. s.update(x,y,z):
       - To add multiple items to the set 
       - Arguments are not individual elements and these are iterable objects like list,range etc
       - All elements in the given iterable objects will be added to the set 
       
   
   3. s.copy():
       - Returnes copy of the set
       - it is cloned object
       
   
   4. s.pop() :
       - it removes and returns some random elements from the set
       
   
   5. s.remove(x) :
       - it removes the specified elements fron the set.
       - if the specified elements is not presents in the set then we will get keterror
       
   
   6. s.discard(x):
       - it removes the specified elements fron the set.
       - if the specified elements is not presents in the set then we won't  get any error
       
   
   7. s.clear() :
       - to remove all elements from the set

In [1]:
# add item to the set

s = {10,20,30}
s.add(40)
s

{10, 20, 30, 40}

In [5]:
# adding multiple items to the set

s = {10,20,30}
print(s)
l = [40,5,60,70,80]
s.update(l,range(6,9))
print(s)

{10, 20, 30}
{5, 70, 6, 40, 7, 10, 8, 80, 20, 60, 30}

In [13]:
# copy 

s = {100,200,300,400}
print(s)
s1 = s.copy()
print(s1)

{200, 100, 400, 300}
{200, 100, 400, 300}

In [15]:
# delete element of set

# pop() ---  removes last element of set

s = {10,20,30,40}
print(s.pop())
print(s)

40
{10, 20, 30}

In [19]:
# deleting element of set

# remove()   ----- it remove specific element and if not present show error

s = {1,3,5,6,4,8,9}
s.remove(4)
print(s)

{1, 3, 5, 6, 8, 9}

In [25]:
# deleting element of set

# discard() ---- it also remove specific element and if not present don't show any error

s = {1,4,3,5,6,8,7}
print(s)                       # automatically sorted 
print(s.discard(4))
print(s)
print(s.discard(10))    # 10 is not present in set and don't show error
print(s)

{1, 3, 4, 5, 6, 7, 8}
None
{1, 3, 5, 6, 7, 8}
None
{1, 3, 5, 6, 7, 8}

In [26]:
# clear()

s = {10,29,40}
print(s)
s.clear()
print(s)

{40, 10, 29}
set()

## Mathematical Operation on set :-

 1. union():
   - x.union(y) :- we can use this function to return all elements present in both sets
   - x.uniion(y) or x|y
   
   
 2. intersection()
   - x.intersection(y) or x&y
   - return common elements present in both x and y
   
   
 3. intersection_update() :
 
 
 4. difference():
   - x.difference(y) or x-y
   - return the elements present in x but not in y
     
     
 5. symmetric_difference() :
     - s.symmentric_difference(y) or x^y
     - Return the elements present in either x OR y but not in both
     
     
 6. symmetric_difference_update():
 
 
 7. isdisjoint():
 
 
 8. issubset():
 
 
 9. issuperset():

In [12]:
# union

s1 = {1,4,5,6,4}
s2 = {4,5,2,5,7,1}

s3 = s1.union(s2)
s4 = s1|s2

print(s3)
print(s4)

{1, 2, 4, 5, 6, 7}
{1, 2, 4, 5, 6, 7}

In [27]:
# intersection 

x = {10,20,30,40}
y = {30,40,50,60}

print(x.intersection(y))
print(x&y)

{40, 30}
{40, 30}

In [28]:
# differences

x = {10,20,30,40}
y = {30,40,50,60}

print(x.difference(y))
print(x-y)

{10, 20}
{10, 20}

In [29]:
# differences

x = {10,20,30,40}
y = {30,40,50,60}

print(y.difference(x))
print(y-x)

{50, 60}
{50, 60}

In [30]:
# symmetric_difference()

x = {10,20,30,40}
y = {30,40,50,60}

print(x.symmetric_difference(y))
print(x^y)

{10, 50, 20, 60}
{10, 50, 20, 60}

In [35]:
# symmetric_difference_update()

x = {10,20,30,40}
y = {30,40,50,60}
print(x)
print(y)
print(x.symmetric_difference_update(y))
print(x)

{40, 10, 20, 30}
{40, 50, 60, 30}
None
{10, 50, 20, 60}

## Set Comprihension :-
    - Set Comprihension is possible

In [13]:
s = {x*x for x in range(1,6)}
print(s)

{1, 4, 9, 16, 25}