## String :-

In [1]:
s = 'c'
print(type(s))
print(s)

<class 'str'>
c

In [2]:
s = 'hi my name is jayshankar'
print(type(s))
print(s)

<class 'str'>
hi my name is jayshankar

In [13]:
s = 'hi my name is jay shankar sharma'
print(s)
print(type(s))

hi my name is jay shankar sharma
<class 'str'>

In [17]:
s = "hi my name is jay shankar shama"
print(s)
print(type(s))

hi my name is jay shankar shama
<class 'str'>

In [18]:
s = '''hi I am jayshankar sharma and i am from bhagalpur bihar'''
print(s)
print(type(s))

hi I am jayshankar sharma and i am from bhagalpur bihar
<class 'str'>

In [19]:
s = """hi i am jay"""
print(s)
print(type(s))

hi i am jay
<class 'str'>

### Multi-line String Literal

In [20]:
s = 'hi i am \'jayshankar\' and i am from Bhagalpur'
print(s)

hi i am 'jayshankar' and i am from Bhagalpur

In [21]:
s = "hi i am \"jayshankar\" and i am from Bhagalpur"
print(s)

hi i am "jayshankar" and i am from Bhagalpur

In [4]:
s = 'hi i am jayshankar \
and i am from bhagalpur'
print(s)

hi i am jayshankar and i am from bhagalpur

In [5]:
s = "hi i am jayshankar \
and i am from bhagalpur"
print(s)

hi i am jayshankar and i am from bhagalpur

In [25]:
s = '''hi i am jay shankar sharma 
i am from bhagalpur bihar and
i have done my graguation'''
print(s)

hi i am jay shankar sharma
i am from bhagalpur bihar and
i have done my graguation

In [26]:
s = """hi i am jay shankar sharma 
i am from bhagalpur bihar and
i have done my graguation"""
print(s)

hi i am jay shankar sharma
i am from bhagalpur bihar and
i have done my graguation

### Accessing of string :
   - by using index
   - by using slice

### by using Index

In [7]:
s = 'hi my name is jayshankar'
print(s[3])
print(s[1])

m
i

In [8]:
s[2]

' '

In [9]:
s[-1]

'r'

In [10]:
s[-7]

's'

In [11]:
s[-10]

'j'

### by using slice

In [13]:
s1 = 'India is a best country in the world'

s1[:]

'India is a best country in the world'

In [15]:
s1[5:]

' is a best country in the world'

In [17]:
s1[:23]

'India is a best country'

In [19]:
s1[0:5]

'India'

In [20]:
s1[::-1]

'dlrow eht ni yrtnuoc tseb a si aidnI'

In [24]:
s1[-37:-31]

'India'

In [25]:
s1[-37:-31:-1]

''

In [26]:
s1[-31:-37:1]

''

### Traversing of string :
   - by using for loop
   - by while loop;

### by using for loop

In [27]:
s = 'I love my India'

for i in s:
    print(i)

I

l
o
v
e

m
y

I
n
d
i
a

In [28]:
for i in range(0,len(s)):
    print(s[i])

I

l
o
v
e

m
y

I
n
d
i
a

### by while loop

In [29]:
s3 = 'I am Indian'
i=0
while i<len(s3):
    print(s3[i])
    i+=1

I

a
m

I
n
d
i
a
n

### Operator for string :
   - additiion operator       ( + )
   - multiplication operator  ( * )
   - menbership operator      ( in , not in )
   - comparision operator     ( <= , >= , < ,> )
   - equality operator        ( == , != )

In [2]:
# here + operator is used for concatinate the string .
s1 = "jai"
s2 = "hind"
print(s1+s2)

jaihind

In [4]:
# here * operater is used for repetiton of string

s1 = 'jai'* 3
print(s1)

jaijaijai

### Important function of string :
- Removing space from string:
    - __rstrip()__ :-   To remove space at right hand side
    - __lstrip()__ :-   To remove space at left hand side
    - __strip()__ :-    To remove space both side
    
    
- Replacing a string with another string :
    - __replace()__
    
    
- Finding Substring :
     - For forward direction :
         - __find()__ 
         - __index()__
     - for backward direction :
         - __rfind()__
         - __rindex()__
         
- To check type of characters Present in a string :
    - __isalnum()__ :
    - __isalpha()__ :
    - __isdigit()__ :
    - __islower()__ :
    - __isupper()__ :
    - __istitle()__ :
    - __isspace()__ :
    
- Changing case of String :
    - __upper()__
    - __lower()__
    - __swapcase()__
    - __title()__
    - __capitalize()__
    
- checking starting and ending part of the string:
    - __startwith()__ :
    - __endwith()__ : 
    
- splitting of string:
    - __split()__
    
- joining of function :
    - __join()__
    
    
- counting substring in the given string :
    - __count()__

## removing space of String

In [6]:
 # it removes space in string from right side
s = "      Jay Shankar      "

print(s.rstrip()+" sharma")

      Jay Shankar sharma

In [7]:
# it removes space from left side in string
print(s.lstrip()+'Sharma')

Jay Shankar      Sharma

In [9]:
# it remove space from string
print(s.strip()+' Sharma')

Jay Shankar Sharma

In [11]:
## replace 

s = 'HI, My Name is Jay Shankar Sharma'

print(s.replace(' ',''))

HI,MyNameisJayShankarSharma

In [16]:
# replace 

s = "I am Jay"

print(s.replace("Jay","Jay Shankar"))

I am Jay Shankar

### Finding substring

In [25]:
# find string in forword Direction

s = "Learning python is very easy"

print(s.find("python"))        # it returns first index no. of string forward direction

print(s.find("java"))          # it return -1 if string is not avaliable  

print(s.find('r'))             # if find string in whole string and return first

print(s.find('r',18,23))        # if search string from index 18 to 22

9
-1
3
21

In [32]:
# find string in Backward direction

s = "Python is a Simple Language"

print(s.rfind('a'))           # it find the substring from right to left  in the string

print(s.rfind('a',0,11))      # if find substring from index 10 to 0

print(s.rfind('am'))          # if not present return -1

24
10
-1

In [35]:
# index() :- if not avaliable return valueError

s = "Python is very Easy Language"

print(s.index('is'))      # it search substring in whole string from left to right

print(s.index('Easy',15,21))  # it search from index 15 to 20

7
15

In [40]:

s = "python is very easy language"

print(s.rindex('y'))   # it search substring from right to left 

print(s.rindex('y',1,14))

18
13

## Changing case of string :

In [45]:
s = 'hi i am jay shankar'

print(s.capitalize())

Hi i am jay shankar

In [46]:
print(s.title())

Hi I Am Jay Shankar

In [47]:
print(s.upper())

HI I AM JAY SHANKAR

In [48]:
s1 = "Hi I am Jay Shankar Sharma"

print(s.lower())

hi i am jay shankar

In [49]:
print(s.swapcase())
print(s1.swapcase())

HI I AM JAY SHANKAR
hI i AM jAY sHANKAR sHARMA

## Check character present in the string

In [54]:
s = "Durga1234"
print(s.isalnum())
print(s.isalpha())

True
False

In [61]:
s = "jay"
print(s.isalpha())
print(s.isdigit())
print(s.islower())

True
False
True

In [60]:
s = "1234"
print(s.isdigit())
print(s.isdecimal())

True
True

## check starting and ending part of string

In [62]:
s = "learning python is very easy"

s.startswith('learning')

True

In [63]:
s.startswith('python')

False

In [64]:
s.endswith('easy')

True

In [65]:
s.endswith('very')

False

In [66]:
# split :- it convert string to list

s = "Learning python is very easy"

print(s.split())

['Learning', 'python', 'is', 'very', 'easy']

In [68]:
s = "Learning python is very easy"
l = s.split()
for i in l:
    print(i)

Learning
python
is
very
easy

In [71]:
# join() - it convert list to string ;

l = ['Learning','Python','is','very','easy']
string = " ".join(l)
print(string)
print(type(string))

Learning Python is very easy
<class 'str'>

In [73]:
# count :-

s = "abcabcabcabcadda"

print(s.count('a'))
print(s.count('ab'))
print(s.count('a',3,7))

6
4
2

### string vs Immutable

In [74]:
s = "Learning python is very easy"

s1 = s.replace('easy','difficult')

print(id(s))
print(id(s1))

140067056249072
140067059027000

In [76]:
# we can't change the value of string

s = "abab"
s1 = s.replace('a','b')
print(s," is avaliable at ", id(s))
print(s1," is avaliable at ", id(s1))

abab  is avaliable at  140067059653520
bbbb  is avaliable at  140067063777688

### Formatting of string :-
   - we can format the string with variable value by using replacement operator {} and formet method
   - The main objective of format() method to format string into meaningful outform form

In [52]:
name = 'durga'
salary = 100000
age = 45

print("{}'s salary is {} and his age is {}".format(name,salary,age))
print("{0}'s salary is {1} and his age is {2}".format(name,salary,age))
print("{x}'s salary is {y} and his age is {z}".format(x=name,y=salary,z=age))

durga's salary is 100000 and his age is 45
durga's salary is 100000 and his age is 45
durga's salary is 100000 and his age is 45

### Formating Number :

    
   - d  ---> Decimal Integer
   - f  ---> Fixed point number (float) , the default precision is 6
   - b  ---> Binary format
   - o  ---> Octa format
   - x  ---> Hexa Decimal format ( lower case )
   - X  ---> Hexa Decimal format ( Upper case )

In [77]:
print("The integer number is {}".format(123))
print("The integer number is {:d}".format(123))
print("The integer number is {:5d}".format(123))
print("The integer number is {:05d}".format(123))

The integer number is 123
The integer number is 123
The integer number is   123
The integer number is 00123

In [80]:
print("The float number is {}".format(123.4567))
print("The float number is {:f}".format(123.4567))
print("The float number is {:8.3f}".format(123.4567))
print("The float number is {:08.3f}".format(123.4567))
print("The float number is {:08.3f}".format(123.45))
print("The float number is {:08.3f}".format(786786123.45))

The float number is 123.4567
The float number is 123.456700
The float number is  123.457
The float number is 0123.457
The float number is 0123.450
The float number is 786786123.450

In [83]:
print("Binary form : {:b}".format(154))
print("Octal form :  {:o}".format(154))
print("Hexa Decima form : {:x}".format(154))
print("Hexa decimal form : {:X}".format(154))

Binary form : 10011010
Octal form :  232
Hexa Decima form : 9a
Hexa decimal form : 9A

### Number formating for sign Number :
   - while displaying positive numbers, if we want to include + then we have to write {:+d} and {:+d}
   - using plus for negative number , there is no use for -ive number - sign will come automatically

In [82]:
print("Int value with sign : {:+d}".format(154))
print("Int value with sign : {:+d}".format(-154))
print("float value with sign : {:+f}".format(154.124))
print("float value with sign : {:+f}".format(-154.123))

Int value with sign : +154
Int value with sign : -154
float value with sign : +154.124000
float value with sign : -154.123000

### Formating Dictionary members using format

In [90]:
# p is alias name of dictionary
# person dictionary we are passing as keyword argument

person = {'age':48,'name':"durga"}
print("{p[name]}'s age is {p[age]}".format(p = person))

durga's age is 48

In [91]:
person = {'age':48,'name':"durga"}
print("{name}'s age is {age}".format(**person))

durga's age is 48

### Formatting class members using format() :-

In [94]:
class Person :
    age = 48
    name = 'durga'
    
print("{p.name}'s age is {p.age}".format(p = Person()))

durga's age is 48

In [99]:
# Here Person object is passed as Keyword argument , we can access by using its reference variable in the 
# template string

class Person :
    
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
print("{p.name}'s age is {p.age}".format(p = Person('durga',48)))
print("{p.name}'s age is {p.age}".format(p = Person('ravi',50)))

durga's age is 48
ravi's age is 50

### formatting date value

In [96]:
import datetime

date = datetime.datetime.now()

print("it's now : {:%d/%m/%y %H/%M/%S}".format(date))

it's now : 26/09/19 02/07/12

### formatting complex number

In [97]:
complexNumber = 10+20j

print("Real Part : {0.real} and Imaginary Part :{0.imag}".format(complexNumber))

Real Part : 10.0 and Imaginary Part :20.0