## Tuple :-

   1. Tuple is exactly same as list except that it is immutable. Once  we create tuple object , we cannot perferm any changes in that object
   2. Hence tuple is Read only version of list.
   3. it our data is fixed and never changes then we should go for tuple.
   4. Insertion order is preserved.
   5. Duplication are allowed.
   6. Hetrogeneous object are allowed .
   7. we can preserve indertion order and we can differenciate dublicate objects by using index . hence __index__ play very important role in Tuple also
   8. Tuple support both +ive and -ive index . +ve index means forward direction (left to right) and -ive means backword direction ( right to left )
   9. we can represent tuple elements within Parenthesis and with comma seperation.
   10. parenthesis are optional but recommended to use

In [1]:
t = ()
print(type(t))

<class 'tuple'>

In [2]:
t = (4,)
print(type(t))
print(t)

<class 'tuple'>
(4,)

In [3]:
# parenthesis are optional but recommended to use

t = 21,25
print(type(t))
print(t)

<class 'tuple'>
(21, 25)

## Accessing elements of Tuple :

   1. by using Index
   2. by using slice operator

### by  using index

In [4]:
t = (1,3,2,5,6,7,20,21,25)
t[3]

5

In [5]:

for i in range(len(t)):
    print(t[i])

1
3
2
5
6
7
20
21
25

In [6]:
t[-0]

1

In [7]:
t[-1]

25

In [8]:
for i in range(len(t)):
    print(t[-i])

1
25
21
20
7
6
5
2
3

### by using slice

    -slice[start:end:step)

In [9]:
# default value of start is 0 and end is len(l)+1 when step is +ive
t1 = (1,3,2,5,6,7,20,21,25)

t1[:]

(1, 3, 2, 5, 6, 7, 20, 21, 25)

In [10]:
# it print from index 3 to last
t1[3:]

(5, 6, 7, 20, 21, 25)

In [11]:
# it print from index 0 to 5
t1[:6]

(1, 3, 2, 5, 6, 7)

In [12]:
# it print from index 3 to 7
t1[3:8]

(5, 6, 7, 20, 21)

In [13]:
# default value of step is 1  and step is +ve so it print forward direction (left to right)
t1[::1]

(1, 3, 2, 5, 6, 7, 20, 21, 25)

In [14]:
# here step is -ve so it print backward direction ( right to left )
t1[::-1]

(25, 21, 20, 7, 6, 5, 2, 3, 1)

In [15]:
# it will print index -7 or 2 to index -1 or 8 and step is +ve so forward direction (left to right)
t1[-7:-1]

(2, 5, 6, 7, 20, 21)

In [16]:
# here indexs are -7 to -1 which shows forward direction and step is -ve which shows backward direction so it 
# return empty tuple
t1[-7:-1:-1]

()

In [17]:
t1[-1:-7:1]

()

## important function of Tuple :

   1. len(t) :
       - to return no. of elements present in the tuple
       
   
   2. t.count(e) :
       - to return number of occurrences of given elements in the tuple
       
   
   3. t.index(e):
       - return index of first occurrence of the given elements.
       - if the specified element is not avaliable then we will get ValueError
       
   
   4. sorted(t,fun,reverse):
       - to sort elements based on default natural sorting order and default value of reverse is false
       
   
   5. min(t) and max(t):
       - return min and max value according to default natural sorting order.
       
   
   6. cmp(t1,t2) 
       - it is part of python 2 but not in python 3

In [18]:
t = (1,4,5,3,6,7,4,6,7,8,4,6,8,6)

length = len(t)

length

14

In [19]:
# it returns the no. of occurrence of given element in the tuple
count1 = t.count(4)
count1

3

In [20]:
print(t.index(1))

0

In [21]:
# sort the element of tuple
t1 = sorted(t)
t1

[1, 3, 4, 4, 4, 5, 6, 6, 6, 6, 7, 7, 8, 8]

In [22]:
minimum = min(t)
print(minimum)

maximum = max(t)
print(maximum)

1
8

## tuple comprehension

   - Tuple Comprehension is not supported by Python
   - here we are not getting tuple object and we are getting generator object

In [23]:
t = (x**2 for x in range(1,6))
print(type(t))
for i in t:
    print(i)

<class 'generator'>
1
4
9
16
25